doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Gia sư TOEIC
		link(rel='stylesheet', href='/assets/css/style.css', type='text/css', media='screen')
		link(rel='stylesheet', href='/assets/css/custom.css', type='text/css', media='screen')
		//if lte IE 8
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
	body#index-page
		include ./layout/header.jade
		include ./page/content-index.jade
		include ./layout/footer.jade