.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.back-header{
	display: none;
}
.top-navbar{
	background: $giasu-green;
	color: $giasu-light;
	margin: 0;
	box-shadow: 0 0 7px #313131;
	h1{
		margin: 16px 0;
		.navbar-logo {
			color: $giasu-light;
			font-size: 42px;
			font-weight: bolder;
			text-decoration: none;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.navbar-nav{
		margin: 14px 0;
		li{
			padding: 0 4px;
			a{
				font-size: 24px;
				font-weight: normal;
				color: $giasu-light;
				transition: all .8s;
				text-align: center;
				&:hover{
					background: transparent;
					color: $giasu-oldblue;
				}
				&:focus{
					background: transparent!important;
					color: $giasu-oldblue;
					outline: none;
				}
				&.btn-giasu-orange{
					padding: 8px 24px 6px!important;
					margin-top: 6px;
					&:after{
						bottom: -7px;
						box-shadow: 0 0 4px #000;
						content: "";
						height: 1px;
						left: 0;
						position: absolute;
						width: 100%;
					}
					&:hover{
						background: $giasu-orange;
						color: #961f07!important;
					}
				}
				&.btn-giasu-blue{
					padding: 8px 24px 6px!important;
					margin-top: 6px;
					&:after{
						bottom: -7px;
						box-shadow: 0 0 4px #000;
						content: "";
						height: 1px;
						left: 0;
						position: absolute;
						width: 100%;
					}
					&:hover{
						background: $giasu-blue;
						color: #0057a6!important;
					}
				}
			}
		}
	}
}
@media(max-width: 980px){
	.top-navbar{
		h1{
			.navbar-logo{
				margin: 0 auto;
				float: none;
				display: table;
			}
		}
		.navbar-collapse{
			.navbar-nav{
				margin: 0;
				li{
					a{
						font-size: 18px;
					}
				}
			}
		}
	}
}
@media(max-width: 767px){
	.top-navbar{
		header{
			h1{
				max-width: 90%;
			}
			.navbar-logo{
				font-size: 38px;
				text-decoration: none;
				margin: 0 10px;
				&:hover{
					text-decoration: none;
				}
			}
			.navbar-toggle{
				position: absolute;
				top: -20px;
				right: 10px;
			}
			.col-sm-8{
				padding: 0;
				.navbar-collapse{
					background: rgba(0, 145, 48, 0.8) none repeat scroll 0 0;
					padding: 0;
					position: absolute;
					width: 100%;
				}
			}
			.navbar-nav{
				margin: 0!important;
				width: 100%;
				overflow: hidden!important;
				li{
					display: table;
					width: 100%;
					padding: 0;
					border-bottom: 1px solid rgba(255,255,255,0.9);
					a{
						display: block;
						background: transparent!important;
						text-align: center;
						box-shadow: none;
						padding: 10px;
						&.btn.btn-giasu-blue{
							&:after{
								display: none!important;
							}
						}
						&.btn.btn-giasu-orange{
							&:after{
								display: none!important;
							}
						}
					}
				}
			}
		} 
	} 
}
@media(max-width: 400px){
	.top-navbar{
		header{
			h1{
				max-width: 80%;
				margin-top: 10px;
			}
			.navbar-logo{
				font-size: 32px;
			}
			.navbar-collapse{
				position: absolute;
				left: 0;
				background: rgba(0,145,48,0.9);
				width: 100%;
			}
		} 
	}
}