footer.content-info.container-fluid
	.container
		.widget-foo-wrapper.clearfix
			.col-xs-6.col-md-4.widget-section
				h3.widget-title Về Gia sư TOEIC
				ul.widget-inner
					li #[a(href="javascript:;" title="..") Thông tin về TOEIC]
					li #[a(href="javascript:;" title="..") Ngữ pháp TOEIC cơ bản]
					li #[a(href="javascript:;" title="..") Competitions]
					li #[a(href="javascript:;" title="..") Hướng dẫn thanh toán]
					li #[a(href="javascript:;" title="..") Liên lạc]
					li #[a(href="javascript:;" title="..") Tuyển dụng]
			.col-xs-6.col-md-4.widget-section.vchart-widget
				h3.widget-title Liên lạc
				ul.widget-inner
					li Chúng tôi cam kết hỗ trợ bạn tối đa  #[br ](9am - 9pm)
					li 
						span.col-xs-1.text-center #[img.img-responsive(src="assets/img/phone-icon.png" alt="phone")]
						span.col-xs-11 0916 92 1419 (Mr. Hưng)
					li 
						span.col-xs-1.text-center #[img.img-responsive(src="assets/img/envelope-icon.png" alt="Email")]
						span.col-xs-11 support@giasutoeic.com
					li
						span.col-xs-1.text-center #[img.img-responsive(src="assets/img/map-icon.png" alt="Map")]
						span.col-xs-11 32/6 Đường số 3, Cư xá Bình ThớiPhường 8, Quận 11, TP HCM
			.col-xs-12.col-md-4.widget-section.sosmed-widget
				h3.widget-title Kết nối với chúng tôi
				ul.widget-inner
					li
						a(href="https://www.facebook.com/" title="facebook")
							img(src="/assets/img/facebook-icn.png" alt="facebook")
					li
						a(href="https://www.plus.google.com/" title="Google Plus")
							img(src="/assets/img/googleplus-icn.png" alt="Google Plus")
					li
						a(href="https://www.youtube.com/" title="You tube")
							img(src="/assets/img/youtube-icn.png" alt="youtube")
		.copyright-wrapper.clearfix
			p.text-center GiasuTOEIC.com
			p.text-center Bản quyền của công ty TNHH Real Education
			p.text-center Giấy phép ĐKKD số: 0313469985
	script(src="/assets/js/TweenMax.min.js")
	script(src="/assets/js/core.js")
	script(src="/assets/js/jquery.superscrollorama.js")
	script(src="/assets/js/main.js")