nav.navbar.top-navbar.navbar-static-top
	.container
		header.row
			.col-md-3
				h1 #[a.navbar-logo(href="/" title="Gia su TOEIC") Gia sư TOEIC ]
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span.sr-only Toggle navigation
					i.fa.fa-navicon.fa-2x
			.col-md-9
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#zone2') Tính năng
						li
							a(href='#zone3') Nhận xét của khách hàng
						li
							a(href='#zone4') Giá cả
						li
							a.btn.btn-giasu-orange(href='javascript:;') Đăng kí
						li
							a.btn.btn-giasu-blue(href='javascript:;') Đăng nhập
.back-header