.container-fluid.main-banner
	.container.banner-inner
		.clearfix
			.col-md-6.text-center
				h2 Học online mànhư có gia sư!
				.wrapper-link-button
					a.btn.btn-giasu-orange(href="javascript:;" title="...") Học thử MIỄN PHÍ
			.col-md-6.text-center
				.wrapper-video
					video#video(width="400")
						source(src="/assets/video/sample-vid.mp4", type="video/mp4")
					#video-controls
						button#play-pause(type="button") #[img(src="/assets/img/play-btn.png" alt="play")]
.container-fluid.main-page
	#zone2.container
		.wrapper-lineone.clearfix
			h2.text-center Thi TOEIC đạt điểm bạn muốn #[span Nắm lại kiến thức tiếng Anh nền tảng]
			.col-xs-12.service-list.list-first
				.col-md-3
					img.img-responsive(src="/assets/img/serv-1.png" alt="...")
					.line-one
				.col-md-5
					.service-text
						h3 Ngân hàng đề thi phong phú
						p Làm đề thi của các giáo trình nổi tiếng hiện nay như ETS, Economy và Longman. Xem giải thích chi tiết ngay sau khi làm bài.
			.col-xs-12.service-list.second-list
				.col-md-3.col-md-offset-5
					img.img-responsive(src="/assets/img/serv-2.png" alt="...")
					.line-two
				.col-md-4
					.service-text
						h3 Có kế hoạch học tập rõ ràng
						p Để đạt được điểm TOEIC mong ước, bạncần một kế hoạch học tập rõ ràng.Hệ thống Smart System™ giúp bạnluôn nắm rõ kế hoạch học.
			.col-xs-12.service-list.list-lates
				.col-md-6.pull-right
					.clearfix
						p
				.col-md-3.pull-right.center-aimg
					img.img-responsive(src="/assets/img/serv-3.png" alt="...")
				.col-md-3.pull-left
					.service-text.text-right
						h3 Học mà vui
						p Bạn sẽ không còn buộc mình phải học. Ở Gia sư TOEIC, chúng tôi không ngừng nổ lực để việc học của bạn trở nên lôi cuốn và thú vị.
			.col-xs-12.text-center
				.clearfix.wrapper-button
					.col-md-4.col-md-offset-4
						.wrapper-link-button
							a.btn.btn-giasu-orange.btn-block(href="javascript" title="..") Học thử MIỄN PHÍ
#zone3
#two-col.container-fluid
	.container
		.wrapper-linetwo.clearfix
			.col-md-6.box-testimony
				h3 Nhận xét của khách hàng
				p.zoomion-one #[strong Lorem Ipsum is simply dummy text of the printing and typesetting industry.] #[span 20 - College Student]
				p.zoomion-two #[strong Lorem Ipsum is simply dummy text of the printing and typesetting industry.] #[span 20 - College Student]
				p.zoomion-three #[strong Lorem Ipsum is simply dummy text of the printing and typesetting industry.] #[span 20 - College Student]
			.col-md-6.box-testimony.client-wrapper
				#listing-cli
					h3 Nhận xét của khách hàng
					.row
						.fade-efc.clearfix
							#fade-it.list-testi
								.col-xs-3
									img.img-responsive.img-circle(src="/assets/img/client1.jpg")
								.col-xs-9
									h3.client-name Nguyễn Thành Chung
									p 287 TOEIC Points
									p Business Owner
							#fade-it1.list-testi
								.col-xs-3
									img.img-responsive.img-circle(src="/assets/img/client1.jpg")
								.col-xs-9
									h3.client-name Nguyễn Thành Chung
									p 287 TOEIC Points
									p Business Owner
							#fade-it2.list-testi
								.col-xs-3
									img.img-responsive.img-circle(src="/assets/img/client1.jpg")
								.col-xs-9
									h3.client-name Nguyễn Thành Chung
									p 287 TOEIC Points
									p Business Owner
#zone4
#three-col.container-fluid
	.container
		.wrapper-princing.clearfix
			h1 Chọn tài khoản phù hợp với bạn
			.table-wrapper.clearfix
				.col-md-3.box-princing
					h3 Features 
					p.no-clone #[strong  #[span] Đề luyện tập ]
					p.no-clone #[strong Đề thi TOEIC ]
					p Đảm bảo nhận hỗ trợtrong 10 phút
					p 1 buổi trao đổi trực tiếp với người hướng dẫn trong 45p qua Skype
					.box-foo
						p Giá
				.col-md-3.box-princing
					h3 Tài khoản Học Thử
					p #[strong #[span 50] (dùng trong 5 ngày) ]
					p #[strong #[span 3] (dùng trong 5 ngày) ]
					p.for-icon #[img(src="/assets/img/close-icn.png" alt="no suport")]
					p.for-icon #[img(src="/assets/img/close-icn.png" alt="no suport")]
					p FREE
					.box-foo
						p #[a.btn.btn-giasu-orange.btn-block(href="javascript:;") Học thử MIỄN PHÍ]
				.col-md-3.box-princing
					.populared
						p.caption-box Most Popular !
						h3 Tài khoản Tự luyện 
						p.no-clone #[strong #[span ] Không giới hạn  ] 
						p #[strong #[span ] Không giới hạn ] 
						p.for-icon #[img(src="/assets/img/close-icn.png" alt="no suport")]
						p.for-icon #[img(src="/assets/img/close-icn.png" alt="no suport")]
						p 99k/tháng hoặc #[span 249k / 3 tháng]
						.box-foo
							p #[a.btn.btn-giasu-orange.btn-block(href="javascript:;") Hướng dẫn thanh toán]
				.col-md-3.box-princing
					h3 Tài khoản Pro
					p.no-clone #[strong #[span ] Không giới hạn  ]
					p #[strong #[span ] Không giới hạn ]
					p.for-icon #[img(src="/assets/img/check-icn.png" alt="no suport")]
					p.for-icon #[img(src="/assets/img/check-icn.png" alt="no suport")]
					p 299k / tháng #[span  ]
					.box-foo
						p #[a.btn.btn-giasu-orange.btn-block(href="javascript:;") Hướng dẫn thanh toán]
			.mob-table.clearfix
				.col-xs-12.box-princing
					h3 Tài khoản Học Thử 
					p.clearfix 50 (dùng trong 5 ngày)
					p.clearfix 3 (dùng trong 5 ngày)
					.table-footer
						.this-price $45/Mo 
				.col-xs-12.box-princing
					h3 Tài khoản Tự luyện
					p.clearfix Không giới hạn
					p.clearfix Không giới hạn
					.table-footer
						.this-price 99k/tháng hoặc 
						.this-price 249k / 3 tháng
				.col-xs-12.box-princing
					h3 TTài khoản Pro
					p.clearfix Không giới hạn
					p.clearfix Không giới hạn
					p.clearfix Lorem Ipsum
					p.clearfix dummy text
					.table-footer
						.this-price 299k / tháng
			.mob-table.clearfix
				.wrapper-link-button
					a.btn.btn-giasu-orange.btn-mob-orange(href="#" title="...") Học thử MIỄN PHÍ